/* Base Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%; /* Width when open */
    max-width: 70vw; /* Limit the width on smaller screens */
    background-color: var(--bgDark);
    color: var(--white);
    transition: width 0.8s ease-in-out; /* Smooth transition for width */
    overflow-x: hidden;
    z-index: 1000;
    padding-top: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    box-shadow: #464646 0px 0px 10px;
  }
  
  /* Closed Sidebar State */
  .sidebar.closed {
    width: 3.5rem; /* Width when closed */
  }
  
  /* Toggle Button */
.toggle-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    width: 90%; /* Make it take almost full width */
    max-width: 60px; /* Ensure it fits when minimized */
    text-align: center;
    font-size: 1.2rem; /* Increase font size */
    border-radius: 5px;
  }
  
  
  /* Sidebar Content */

  .sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .sidebar .sidebar-content a {
    color: #ffffff;
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.2rem;
    transition: color 0.8s ease, opacity 0.8s ease-in-out;
    
  }

  .sidebar-content {
    display: flex;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, visibility 0.5s 0.5s; /* Transition for visibility */
    opacity: 0;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 20px;
  }
  
  
  .sidebar-content a:hover {
    color: var(--bgLight);
  }
  
  .sidebar.open .sidebar-content {
    opacity: 1;
    transform: translateX(0); /* Content slides into view */
  }

  /* Responsive Adaptation */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 70px; /* Start collapsed on smaller screens */
    }
  
    .sidebar.open {
      width: 200px; /* Smaller width for mobile devices when expanded */
    }

    .toggle-btn {
        font-size: 1.1rem; /* Slightly smaller font size for mobile */
      }
  }
  